body{
  margin: 0;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 1rem 2rem;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.add-btn {
    background: #42b983;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.add-btn:hover {
    background: #36a374;
}